<a href="https://colab.research.google.com/github/tarassenkoe/AssignmentVBAColumbiaBootcamp/blob/main/CODE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1=pd.read_excel("Multiple_year_stock_data.xlsx")
df2=pd.read_excel("Multiple_year_stock_data.xlsx",sheet_name="2019")
df3=pd.read_excel("Multiple_year_stock_data.xlsx",sheet_name="2020")

In [ ]:
dffinal1234=pd.concat([df1,df2,df3],axis=0)
dffinal1234

,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,<distinct ticker>
0,AAB,20180102,24.44,24.56,24.44,24.47,261879,NaN
1,AAB,20180103,24.45,24.45,24.22,24.28,15721045,AAB
2,AAB,20180104,24.27,24.36,24.27,24.28,5954,AAB
3,AAB,20180105,24.24,24.33,24.22,24.33,58161100,AAB
4,AAB,20180108,24.28,24.72,24.28,24.72,267347,AAB
...,...,...,...,...,...,...,...,...
758995,ZZX,20201224,52.86,53.03,52.86,52.91,2257,NaN
758996,ZZX,20201228,52.84,53.10,52.83,53.05,5744,NaN
758997,ZZX,20201229,53.14,53.27,53.09,53.19,4200,NaN
758998,ZZX,20201230,53.23,53.30,53.15,53.18,744,NaN
758999,ZZX,20201231,53.11,53.39,53.11,53.35,43906,NaN

In [ ]:
tickerdataframe['distinct_values']=pd.DataFrame(dffinal1234['<ticker>'].unique())

In [ ]:
df2final123=pd.merge(df1,tickerdataframe,how="inner",left_on="<ticker>",right_on="distinct_values")

In [ ]:
df2final123=df2final123.drop_duplicates(keep="first")

In [ ]:
df2final123['change']=df2final123['<close>']-df2final123['<open>']

In [ ]:
df2final123['percent_change']=(df2final123['<close>']-df2final123['<open>'])/df2final123['<close>']

In [ ]:
df2final123['stock_volume_at_close']=df2final123['<close>']*df2final123['<vol>']

In [ ]:
#BGI has the greatest change of the stocks.
df2final123.sort_values(by="percent_change",ascending=False)

,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,<distinct ticker>,0,distinct_values,change,percent_change,stock_volume_at_close
489580,RKS,20180710,9.56,13.14,9.56,12.53,3024,NaN,RKS,RKS,2.97,0.237031,3.789072e+04
489637,RKS,20180928,7.30,9.48,7.30,9.23,108124,NaN,RKS,RKS,1.93,0.209101,9.979845e+05
489685,RKS,20181207,6.63,8.45,6.63,8.22,1599252,NaN,RKS,RKS,1.59,0.193431,1.314585e+07
489546,RKS,20180521,26.50,32.52,26.50,32.52,41473,NaN,RKS,RKS,6.02,0.185117,1.348702e+06
489549,RKS,20180524,30.42,38.97,30.42,37.17,45097,NaN,RKS,RKS,6.75,0.181598,1.676255e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489540,RKS,20180511,27.59,27.59,22.56,22.56,2917,NaN,RKS,RKS,-5.03,-0.222961,6.580752e+04
489513,RKS,20180404,42.11,42.11,33.95,34.31,108752,NaN,RKS,RKS,-7.80,-0.227339,3.731281e+06
489654,RKS,20181023,6.19,6.19,4.89,4.89,42660,NaN,RKS,RKS,-1.30,-0.265849,2.086074e+05
489479,RKS,20180213,90.24,90.24,70.08,70.08,5190224,NaN,RKS,RKS,-20.16,-0.287671,3.637309e+08
489514,RKS,20180405,34.16,34.16,26.13,26.13,99654,NaN,RKS,RKS,-8.03,-0.307310,2.603959e+06

In [ ]:
#BGI has the greatest change of the stocks.
df2final123.sort_values(by="percent_change",ascending=True)

,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,<distinct ticker>,0,distinct_values,change,percent_change,stock_volume_at_close
489514,RKS,20180405,34.16,34.16,26.13,26.13,99654,NaN,RKS,RKS,-8.03,-0.307310,2.603959e+06
489479,RKS,20180213,90.24,90.24,70.08,70.08,5190224,NaN,RKS,RKS,-20.16,-0.287671,3.637309e+08
489654,RKS,20181023,6.19,6.19,4.89,4.89,42660,NaN,RKS,RKS,-1.30,-0.265849,2.086074e+05
489513,RKS,20180404,42.11,42.11,33.95,34.31,108752,NaN,RKS,RKS,-7.80,-0.227339,3.731281e+06
489540,RKS,20180511,27.59,27.59,22.56,22.56,2917,NaN,RKS,RKS,-5.03,-0.222961,6.580752e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489549,RKS,20180524,30.42,38.97,30.42,37.17,45097,NaN,RKS,RKS,6.75,0.181598,1.676255e+06
489546,RKS,20180521,26.50,32.52,26.50,32.52,41473,NaN,RKS,RKS,6.02,0.185117,1.348702e+06
489685,RKS,20181207,6.63,8.45,6.63,8.22,1599252,NaN,RKS,RKS,1.59,0.193431,1.314585e+07
489637,RKS,20180928,7.30,9.48,7.30,9.23,108124,NaN,RKS,RKS,1.93,0.209101,9.979845e+05
489580,RKS,20180710,9.56,13.14,9.56,12.53,3024,NaN,RKS,RKS,2.97,0.237031,3.789072e+04

In [ ]:
#BGI has the greatest change of the stocks.
df2final123.sort_values(by="percent_change",ascending=False)

,<ticker>,<date>,<open>,<high>,<low>,<close>,<vol>,<distinct ticker>,0,distinct_values,change,percent_change,stock_volume_at_close
489580,RKS,20180710,9.56,13.14,9.56,12.53,3024,NaN,RKS,RKS,2.97,0.237031,3.789072e+04
489637,RKS,20180928,7.30,9.48,7.30,9.23,108124,NaN,RKS,RKS,1.93,0.209101,9.979845e+05
489685,RKS,20181207,6.63,8.45,6.63,8.22,1599252,NaN,RKS,RKS,1.59,0.193431,1.314585e+07
489546,RKS,20180521,26.50,32.52,26.50,32.52,41473,NaN,RKS,RKS,6.02,0.185117,1.348702e+06
489549,RKS,20180524,30.42,38.97,30.42,37.17,45097,NaN,RKS,RKS,6.75,0.181598,1.676255e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489540,RKS,20180511,27.59,27.59,22.56,22.56,2917,NaN,RKS,RKS,-5.03,-0.222961,6.580752e+04
489513,RKS,20180404,42.11,42.11,33.95,34.31,108752,NaN,RKS,RKS,-7.80,-0.227339,3.731281e+06
489654,RKS,20181023,6.19,6.19,4.89,4.89,42660,NaN,RKS,RKS,-1.30,-0.265849,2.086074e+05
489479,RKS,20180213,90.24,90.24,70.08,70.08,5190224,NaN,RKS,RKS,-20.16,-0.287671,3.637309e+08
489514,RKS,20180405,34.16,34.16,26.13,26.13,99654,NaN,RKS,RKS,-8.03,-0.307310,2.603959e+06

In [ ]:
df2final123['stock_volume_at_close']=df2final123['<close>']*df2final123['<vol>']

In [ ]:
df2final1234=df2final123.sort_values(by="stock_volume_at_close",ascending=False)

In [ ]:
df2final1234.to_csv("Multiple_year_stock_data3.csv")